.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-field label {
    margin-bottom: 5px;
}

.input-field input[type='text'],
.input-field input[type='email'],
.input-field input[type='password'] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.input-field input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
